.layer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.645);
    top: 110%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.6s;
    flex-wrap: nowrap;
}
.layer p{
    color: #ffffff;
    transition: left 0.4s;
    position: relative;
    left: 100%;
    transition-delay:0s;
}
.product:hover .layer{
    top: 0;
    cursor: pointer;
}
.product:hover p{
    left: 0;
    transition: left 0.6s;
    transition-delay:0.6s ;
}
.product{
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}